extends ../layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	h1#hello hello #{user.username}
	form(action="/profile/changeEmail", method="post").col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
		input(type="email", name="email", placeholder="Current email", autofocus).col-xs-12
		input(type="email", name="newEmail", placeholder="New email").col-xs-12
		input(type="email", name="newEmailConfirm", placeholder="Confirm new email").col-xs-12
		input(type="submit").btn.btn-success.col-xs-12