extends layout
block append headExtender
	link(rel="stylesheet", href="/stylesheets/index.css")

block content
	div#indexHeader
		h1 Welcome to the SSRF Detector
		p Created by Jake Reynolds
	hr
	div#indexContent.col-xs-12.col-md-8.col-md-offset-2
		p Feel free to create an account and test out the functionality.  The dashboard will aggregate the 10 most recent SSRF Detections from your domain name.
		p To register a domain name, <a href="/register">create an account</a> and then go to Profile > Register Domain.