doctype html
html
	head
		title SSRF Detector
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='theme-color', content='#ffffff')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Raleway:300|Muli:300,400|Poppins:500', rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block headExtender
	body
		div#header
			a(href="/")
				img(src="/images/logo.png")#logo
			div#mainNav
				div(onclick="window.location.href='/'").col-sm-4.col-xs-12.navOption Home
				if locals.user != null
					div(onclick="window.location.href='/dashboard'").col-sm-2.col-xs-12.navOption Dashboard
					div(onclick="window.location.href='/profile'").col-sm-2.col-xs-12.navOption Profile
					div(onclick="window.location.href='/logout'").col-sm-4.col-xs-12.navOption Logout
				else
					div(onclick="window.location.href='/dashboard'").col-sm-4.col-xs-12.navOption Dashboard
					div(onclick="window.location.href='/login'").col-sm-4.col-xs-12.navOption Login
			div#mobileNav
				button.hamburger ☰
					button.cross &#10005;
				.mobileMenu
					ul
						a(href='/')
							li Home
						a(href='/dashboard')
								li Dashboard
						if locals.user != null
							a(href='/profile')
								li Profile
							a(href='/logout')
								li Logout
						else
							a(href='/login')
								li Login
		block content
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="/javascripts/layout.js")
	block scripts