doctype html
html
	head
		title SSRF Detector
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block headExtender
	body
		div#header
			h1#logo SSRF Detector
			div(onclick="window.location.href='/'").col-sm-4.col-xs-12.navOption Home
			div(onclick="window.location.href='/dashboard'").col-sm-4.col-xs-12.navOption Dashboard
			if locals.user != null
				div(onclick="window.location.href='/logout'").col-sm-4.col-xs-12.navOption Logout
			else
				div(onclick="window.location.href='/login'").col-sm-4.col-xs-12.navOption Login
		block content