extends layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	form(action="/login", method="post").col-xs-12.col-md-8.col-mg-offset-2.col-lg-4.col-lg-offset-4.text-center#login
		input(type="text" placeholder="Username" name="username").form-control
		input(type="password" placeholder="Password" name="password").form-control
		if error && error.length > 1
			div.alert.alert-danger= error
		if message && message.length > 1
			div.alert.alert-success= message
		input(type="submit" placeholder="Login").form-control.btn.btn-success
	br
	a(href="/register").col-xs-12.col-md-8.col-mg-offset-2.col-lg-4.col-lg-offset-4.text-center Register
	a(href="/resetPasswordEmail").col-xs-12.col-md-8.col-mg-offset-2.col-lg-4.col-lg-offset-4.text-center Forgot your password?