extends layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	h1#hello hello #{user.username}
	if user.domain != null
		h2.text-center Your current Detector domain is
			strong 
				|  #{user.domain}.blinkie.xyz
		h3.text-center SSRF Detector only supports requests to port 80 at the moment
	else 
		h2.text-center Please register a domain to begin.
	div.text-center.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-4#profileButtons
		button(onclick="window.location.href='/profile/changePassword'").btn.btn-primary.col-xs-12 Change password
		button(onclick="window.location.href='/profile/changeEmail'").btn.btn-primary.col-xs-12 Change email
		button(onclick="window.location.href='/profile/registerDomain'").btn.btn-primary.col-xs-12 Register domain
		form(action="/dashboard/deleteAccount", method="POST", onsubmit="return confirm('Are you sure you want to delete your account?')").col-xs-12#deleteForm
				button(type="submit").col-xs-12.btn.btn-danger#deleteDetections Delete account