extends layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	h1#hello hello #{user.username}
	if error && error.length > 1
			div.alert.alert-danger.text-center.message= error
	if message && message.length > 1
			div.alert.alert-success.text-center.message= message
	form(action="/profile/updatePassword", method="post").col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
		input(type="password", name="password", placeholder="Current password").col-xs-12
		input(type="password", name="newPassword", placeholder="New password").col-xs-12
		input(type="password", name="newPasswordConfirm", placeholder="Confirm new password").col-xs-12
		input(type="submit").btn.btn-success.col-xs-12
	form(action="/profile/registerDomain", method="post").col-xs-12.col-md-8.col-mg-offset-2.col-lg-4.col-lg-offset-4.text-center#registerDomain
		input(type="text", placeholder="subdomain", name="domain", style="display: inline-block").form-control
		span .jakereynolds.co
		br
		input(type="submit")