extends layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	h1#hello hello #{user.username}
	if user.domain != null
		h2.text-center Your current Detector domain is
			strong &nbsp;#{user.domain}
	else 
		h2.text-center Please register a domain to begin.
	if error && error.length > 1
			div.alert.alert-danger.text-center.message= error
	if message && message.length > 1
			div.alert.alert-success.text-center.message= message
	div.text-center
		a(href="/profile/changePassword"). Change password
		br
		a(href="/profile/registerDomain") Register domain