extends layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	h2.text-center Register
	form(action="/register", method="post").col-xs-12.col-md-8.col-mg-offset-2.col-lg-4.col-lg-offset-4.text-center#register
		input(type="email" placeholder="Email" name="email", autofocus).form-control
		input(type="password" placeholder="Password" name="password").form-control
		input(type="password" placeholder="Confirm Password" name="passwordConfirm").form-control
		input(type="submit", value="Continue").form-control.btn.btn-success
