extends layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	form(action="/resetPasswordForm", method="post").col-xs-12.col-md-8.col-mg-offset-2.col-lg-4.col-lg-offset-4.text-center#resetPasswordForm
		input(type="hidden" name="_csrf" value="#{_csrf}").form-control
		input(type="password" placeholder="New password" name="password", autofocus).form-control
		input(type="password" placeholder="Confirm new password" name="passwordConfirm").form-control
		input(type="hidden" name="resetLink" value="#{resetLink}").form-control
		input(type="submit" placeholder="Submit").form-control.btn.btn-success
	br
