extends layout
block append headExtender
	link(rel='stylesheet', href='/stylesheets/forms.css')
	
block content
	form(action="/resetPasswordEmail", method="post").col-xs-12.col-md-8.col-mg-offset-2.col-lg-4.col-lg-offset-4.text-center#email
		input(type="text" placeholder="Email" name="email").form-control
		if message && message.length > 1
			div.alert.alert-success= message
		input(type="submit" placeholder="Submit").form-control.btn.btn-success
	br
