#hello {
	text-align: center;
}
span {
	font-size: 24px;
}
.dashboardOption {
	text-align: center;
	font-size: 24px;
	-webkit-transition: background .5s ease;
	transition: background .5s ease;
	line-height: 75px;
	padding: 0px;
	height: 75px;
	cursor: pointer;
}
.dashboardOption:hover {
	background: #172A3A;
}
li {
	list-style-type: none;
}
#profileButtons button {
	margin-bottom: 10px;
	font-size: 24px;
	height: 75px;
}
#deleteDetections {
	margin-bottom: 10px;
	font-size: 24px;
	height: 75px;
}
#profileButtons #deleteForm {
	margin-top: 50px;
	padding: 0px;
}
