#hello {
	text-align: center;
}
span {
	font-size: 24px;
}
.dashboardOption {
	text-align: center;
	font-size: 24px;
	-webkit-transition: background .5s ease;
	transition: background .5s ease;
	line-height: 75px;
	padding: 0px;
	height: 75px;
	cursor: pointer;
}
h2 a {
	font-size: inherit;
}
.detection {
	font-size: 24px;
}
.dashboardOption:hover {
	background: #172A3A;
}
li {
	list-style-type: none;
}
#profileButtons button {
	margin-bottom: 10px;
	font-size: 24px;
	height: 75px;
}
#deleteDetections {
	margin-bottom: 10px;
	font-size: 24px;
	height: 75px;
}
#profileButtons #deleteForm {
	margin-top: 50px;
	padding: 0px;
}
.dashboardH2 {
	word-break: break-all;
}
.dashboardH1 {
	word-break: break-all;
}
@media (max-width: 700px) {
	#deleteDetections {
		font-size: 16px;
		word-break: break-all;
	}
	h1 {
		font-size: 30px;
	}
}
