#indexHeader {
	text-align: center;
}
p {
	font-size: 24px;
}
.why {
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 45px;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
