html,
body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	background: #FFFFFA;
}
a {
	color: #00B7FF;
}
#header {
	width: 100vw;
	height: 100px;
	background: #508991;
	color: #FFFFFA;
	position: relative;
}
#header h1 {
	margin: 0px;
	height: 75px;
	line-height: 75px;
}
#logoWrapper {
	position: relative;
	padding: 0px;
}
#header #logo {
	margin-top: 12.5px;
	position: absolute;
	width: 100%;
	height: 75px;
	width: 75px;
	margin-left: 15px;
}
.navOption {
	text-align: center;
	font-size: 24px;
	transition: background .5s ease;
	line-height: 100px;
	padding: 0px;
	height: 100px;
	cursor: pointer;
	position: relative;
}
.navOption:first-of-type {
	margin-left: 100px;
}
.navOption:hover {
	background: #172A3A;
}
.message {
	font-size: 20px;
}
#mobileNav {
	display: none;
}

/*Thank you to https://codepen.io/g13nn/pen/eHGEF for the hamburger nav*/

.hamburger {
	background: none;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 100px;
	padding: 0px 15px 0px 15px;
	color: #fff;
	border: 0;
	font-size: 3em;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
}
.cross {
	background: none;
	position: absolute;
	top: 0px;
	right: 0;
	padding: 0px 15px 0px 15px;
	line-height: 100px;
	color: #fff;
	border: 0;
	font-size: 3em;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
	/*Javascript sets it to opacity 1 on load, but this prevents it from flashing*/
	opacity: 0;
}
.mobileMenu {
	z-index: 1000000;
	font-weight: bold;
	font-size: 0.8em;
	width: 100%;
	top: 100px;
	background: #508991;
	position: absolute;
	text-align: center;
	/*Javascript sets it to opacity 1 on load, but this prevents it from flashing*/
	opacity: 0;
}
.mobileMenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
.mobileMenu li {
	display: block;
	padding: 15px 0 15px 0;
	font-size: 24px;
	border-bottom: #1d1f20 1px solid;
}
.mobileMenu li:hover {
	display: block;
	background: #172A3A;
	padding: 15px 0 15px 0;
	border-bottom: #1d1f20 1px solid;
}
.mobileMenu ul li a {
	text-decoration: none;
	margin: 0px;
	color: #fff;
}
.mobileMenu ul li a:hover {
	color: #fff;
	text-decoration: none;
}
.mobileMenu a {
	text-decoration: none;
	color: white;
}
.mobileMenu a:hover {
	text-decoration: none;
	color: white;
}
.glyphicon-home {
	color: white;
	font-size: 1.5em;
	margin-top: 5px;
	margin: 0 auto;
}
@media (min-width: 768px) {
	#header .col-sm-4 {
		width: calc(33.33333333% - 33.33px);
	}
	#header .col-sm-2 {
		width: calc(16.66666667% - 16.66px);
	}
}
@media (max-width: 768px) {
	#mainNav {
		display: none;
	}
	#mobileNav {
		display: block;
	}
}
